# Ignore local environment files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.pytest_cache/

# Logs
logs/
*.log

# VSCode / IDE
.vscode/
.idea/

# Node
node_modules/
.next/

# OS
.DS_Store
Thumbs.db
